            <%- include('../partials/upper-docs.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <% if(alert.message != "") { %>
                    <div class="alert alert-<%= alert.status %>" role="alert">
                        <%= alert.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include('../components/footer.ejs') %>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%- include('../partials/bottom-docs.ejs') %>
