            <%- include('../partials/upper-docs.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <% if(alert.message != "") { %>
                    <div class="alert alert-<%= alert.status %>" role="alert">
                        <%= alert.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %>

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800"><%= title %></h1>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                            <i class="fas fa-plus"></i> Add New Media
                        </button>
                    </div>
                    <div id="thumbnails" class="card-body">
                        <% if (typeof(sets)!=="undefined") { %>
                            <% sets.forEach((set) => { %>
                                    <img src="<%= set.thumbnail %>" alt="Media Thumbnail" class="img-thumbnail" onclick="<%= `handleImageClick(${JSON.stringify(set)})` %>" role="button">
                            <% }) %>
                        <% } else {%>
                            <strong>No Media Inserted</strong>
                        <% } %>
                    </div>
                </div>
                <a type="button" class="btn btn-primary mt-1" href="/admin/items">
                    <i class="fas fa-chevron-left"></i> Back to item list
                </a>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include('../components/footer.ejs') %>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<%- include('../components/form-modal.ejs', {type: "add"}) %>
<%- include('../components/image-modal.ejs') %>
<%- include('../partials/bottom-docs.ejs', {adds: `<!-- Page level plugins -->
    <script src="/js/inject-image-preview.js"></script>`}) %>
