<div class="modal fade" id="<%= type %>Modal" tabindex="-1" aria-labelledby="<%= type %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog<%= `${form.size==='large'?' modal-lg':''}` %>">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="<%= `${type}${title}` %>ModalLabel"><%= type === "add" ? "Add New" : "Edit" %> <%= title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="<%= `${type}${title}` %>Form" method="POST" action="<%= `${url}${type==='edit'?`/id?_method=PUT`:''}` %>" enctype="multipart/form-data">
                    <% typeof(form.inputs)!=="undefined" && form.inputs.forEach(input => { %>
                        <div class="<%= `form-group${input.type==='file' ? ' image-preview-container' : ''}` %>">
                            <label for="<%= `${type}${input.name}` %>"><%= input.label %></label>
                            <% if(input.type==='file') { %>
                                <div class="custom-file">
                                    <% if (input.canMultiple) {%>
                                        <% if(input.type==="edit") {%>
                                            <input type="file" class="custom-file-input" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" onchange="handleImageUpload(this)" value="" multiple >
                                        <% } else { %>
                                            <input type="file" class="custom-file-input" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" onchange="handleImageUpload(this)" value="" required multiple >
                                        <% } %>
                                    <% } else { %>
                                        <% if(input.type==="edit") {%>
                                            <input type="file" class="custom-file-input" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" onchange="handleImageUpload(this)" value="" >
                                        <% } else { %>
                                            <input type="file" class="custom-file-input" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" onchange="handleImageUpload(this)" value="" required >
                                        <% } %>
                                    <% } %>
                                    <label class="custom-file-label" for="<%= `${type}${input.name}` %>">Upload Image</label>
                                </div>
                            <% } else if(input.type==='select' && typeof(form.datasets[input.name])!=="undefined") {%>
                                <select id="<%= `${type}${input.name}` %>" name="<%= input.name %>" class="form-control">
                                    <option selected hidden disabled>Choose item category</option>
                                    <%  Object.values(form.datasets[input.name]).forEach(data => { %>
                                        <option value="<%= data._id %>"><%= data.name %></option>
                                    <% }) %>
                                </select>
                                <% } else if(input.type==="longtext") {%>
                                    <textarea id="<%= `${type}${input.name}` %>" class="editor" name="<%= input.name %>"></textarea>
                            <% } else if(input.isRequired) {%>
                                <input type="<%= input.type %>" class="form-control" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" value="" placeholder="Enter <%= input.label.toLowerCase() %>" required>
                            <% } else {%>
                                <input type="<%= input.type %>" class="form-control" id="<%= `${type}${input.name}` %>" name="<%= input.name %>" value="" placeholder="Enter <%= input.label.toLowerCase() %>" >
                            <% } %>
                        </div>
                    <% }) %>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="<%= `${type}${title}` %>Form">Save<%= type !== "add" ? " changes" : "" %></button>
            </div>
        </div>
    </div>
</div>