<div class="modal fade" id="<%= `${type}${title}` %>Modal" tabindex="-1" aria-labelledby="<%= `${type}${title}` %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="<%= `${type}${title}` %>ModalLabel"><%= type === "add" ? "Add New" : "Edit" %> <%= title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="<%= `${type}${title}` %>Form" method="POST" action="<%= `${url}${type==='edit'?`/id?_method=PUT`:''}` %>" enctype="multipart/form-data">
                    <% typeof(headers)!=="undefined" && headers.forEach(header => { %>
                        <div class="form-group">
                            <label for="<%= `${type}${header.name}` %>"><%= header.title %></label>
                            <%if(header.type==='file') {%>
                                <div class="custom-file">
                                    <% if(type==="edit") {%>
                                        <input type="file" class="custom-file-input" id="<%= `${type}${header.name}` %>" name="<%= header.name %>" onchange="handleImageUpload(this)" value="" >
                                    <% } else { %>
                                        <input type="file" class="custom-file-input" id="<%= `${type}${header.name}` %>" name="<%= header.name %>" onchange="handleImageUpload(this)" value="" required>
                                    <% } %>
                                    <label class="custom-file-label" for="<%= `${type}${header.name}` %>">Upload Image</label>
                                </div>
                                <img src="https://via.placeholder.com/150.png?text=Preview+Image" alt="Preview Uploaded Image" class="img-fluid mt-1 image-preview">
                            <% } else if(header.isRequired) {%>
                                <input type="<%= header.type %>" class="form-control" id="<%= `${type}${header.name}` %>" name="<%= header.name %>" value="" placeholder="Enter <%= header.title.toLowerCase() %>" required>
                            <% } else {%>
                                <input type="<%= header.type %>" class="form-control" id="<%= `${type}${header.name}` %>" name="<%= header.name %>" value="" placeholder="Enter <%= header.title.toLowerCase() %>" >
                            <% } %>
                        </div>
                    <% }) %>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="<%= `${type}${title}` %>Form">Save<%= type !== "add" ? " changes" : "" %></button>
            </div>
        </div>
    </div>
</div>